.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.div-num {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
}

.map {
    width: 800px;
    height: 550px;
    border-radius: 10px;
}

.container-info-mapa {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tipo-casa{
    display: flex;
    gap: 30px;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 150px;
    min-width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    background-color: #cecece;
    transform: scale(0.95);
  }

  input[type="radio"]:checked + label .card {
    background-color: #cecece;
}

input[type="radio"][name="tipo_almacenamiento"]:checked + label .card {
    background-color: #cecece;
}

input[type="radio"][name="tipo_direcion"]:checked + label .card {
    background-color: #cecece;
}

input[type="radio"][name="tipo_electricidad"]:checked + label .card {
    background-color: #cecece;
}

.container-botones{
    display: flex;
    justify-content: center;
    gap: 200px;
}


/* div 2 */



.tipo-almacenamiento {
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    min-width: 80vh;
    align-items: center;
    justify-content: center;
}

.tipo-almacenamiento label {
    margin: 30px;
}

/* div 3 */

.puntos-cardinales{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.boton-desactivado {
    background-color: #ccc !important;
    color: #888;
    cursor: not-allowed;
    pointer-events: none;
}
