/* Container 1 */
.container-1 {
    background-image: url(/assets/img/Products/family-living-room-modified.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 700px;
}

@media (max-width: 1024px) {
    .text-white.pl-72.pt-40.max-w-6xl {
        padding-left: 3rem; /* Ajusta el padding para pantallas más pequeñas */
        padding-top: 3rem;
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .text-white.pl-72.pt-40.max-w-6xl {
        padding-left: 2rem;
        padding-top: 2rem;
        max-width: 100%;
    }

    .text-5xl {
        font-size: 2.5rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }

    .text-xl {
        font-size: 1rem;
    }
}

/* Container 2 */
.container-2 {
    flex-direction: row;
    text-align: left;
}

.image-solar-panel {
    max-width: 50%; /* Ajusta el tamaño de la imagen desde el principio */
    height: auto;
}

@media (max-width: 768px) {
    .container-2 {
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas más pequeñas */
        text-align: center;
        padding: 2rem;
    }

    .image-solar-panel {
        max-width: 100%;
    }

    .text-blue-900.pl-10 {
        padding-left: 0; /* Quita el padding a la izquierda para centrar el texto */
    }

    .text-5xl.pt-10 {
        font-size: 2rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
        padding-top: 1rem;
    }

    .text-xl.mt-7 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .flex.flex-col.gap-4 {
        gap: 2rem;
    }

    .mt-7 {
        margin-top: 1rem;
    }
}

/* Container 3 */
.container-3 {
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 .bg-white {
    width: 90%;
    min-height: 350px;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .container-3 .bg-white {
        width: 100%;
    }

    .text-3xl.pt-10 {
        font-size: 1.5rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
        padding-top: 1rem;
    }

    .text-xl.mt-7 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .bg-blue-light.p-3.rounded-xl.mt-7 {
        padding: 1rem;
        margin-top: 1rem;
    }
}
